*{
    margin:0;
    padding:0;
}

.main {
    width: 100%;
    background-color:#b4d7fe;
    background-position:center;
    background-size:cover;
    height:109vh;
}

.navigation{
    width:1200px;
    height:75px;
    margin:auto;

}

.Logo{
    left:0;
    width:200px;
    float:left;
    height:75px;
}

.Logo h2 {
    color: rgba(253, 149, 25, 0.85);
    font-size: 25px;
    font-family: Tahoma;
    padding-left: 0;
    float: left;
    padding-top: 10px;
}

.lists{
    width:400px;
    float: right;
    height:70px;
}

ul{
    float:left;
    display: flex;
    justify-content:center;
    align-items:center;

}

ul li{
    list-style:none;
    margin-left:60px;
    margin-top: 27px;
    font-size:16px;
}

ul li a{
    text-decoration:none;
    color:white;
    font-family:Tahoma;
    font-weight:bold;
    transition:0.5s ease;
}


ul li a:hover {
    color: #fd9519;
}

.Content {
    padding-top:100px;
    width:1200px;
    height:auto;
    width:auto;
    color: white;
}

.Content .par {
    padding-left:20px;
    padding-bottom:25px;
    font-family:Tahoma;
    letter-spacing: 1.2px;
    line-height:30px;
}

.Content h1{
    font-family:'Times New Roman';
    font-size:50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.link{
    color:blue;
}