*{
    margin:0;
    padding:0;
}

body, html {
    overflow-x: hidden;}
header {
    width:100vw;
    height: 100vh;
    background-image: url(Properties/back1.jpg);
    background-position:bottom;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contentH {
    margin-bottom:150px;
    color: white;
    text-align:center;
}

.line {
    width:200px;
    height:5px;
    background: #df9519;
    margin:10px auto;
    border-radius:5px;
}

.contentH h1 {
    font-size:60px;

}

.contentH p{
    margin-bottom: 30px;

}

.contentH .link {
    top: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background: #df9519;
    border-radius: 30px;
}

/*Navbar*/

.navbar {
    position:absolute;
    top:0;
    left:0;
    display:flex;
    width:100%;
    justify-content:space-between;
}


.navigation{
    width:1200px;
    height:75px;
    margin:auto;

}

.Logo{
    left:0;
    width:200px;
    float:left;
    height:75px;
}


ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-size: 16px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Tahoma;
    font-weight: bold;
    transition: 0.5s ease;
}


ul li a:hover {
    color: #fd9519;
}
.Logo h2 {
    color: rgba(253, 149, 25, 0.85);
    font-size: 25px;
    font-family: Tahoma;
    padding-left: 0;
    float: left;
    padding-top: 10px;
}

.lists{
    width:400px;
    float: right;
    height:70px;
}




/*Middle Section*/

section {
    width:80%;
    margin:80px auto;
}

.title {
    text-align: center;
    font-size:50px;
    color: gray;
}

.row {
    display:flex;
    align-items:center;
    width:100%;
    justify-content:space-between;
}

.row .col {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row .col .img{
    width:70%;
}


/*Footer*/

.footer{
    width:100%;
    height:100px;
    padding:20px;
    margin:0px;
    background: #b4d7fe;
    text-align:center;
}

.footer p {
    color: #df9519;

}